
<div class="formulario">
  <div>
      <label for="">Url </label>
      <input type="text" [(ngModel)]="url"> <!-- ngModel para recoger datos de la vista al Controlador. -->
      <br>
      <br>
      <input type="button" value="Buscar" (click)="buscarPorUrl()">
      <br>
      <br>
      <br>
      <div *ngIf="resultadoPorUrl">
        <h2><tr><th>Url</th><th>Tematica</th><th>Descripcion</th></tr></h2>

          <td><a href="{{resultadoPorUrl.url}}">{{resultadoPorUrl.url}}</a></td><td>{{resultadoPorUrl.tematica}}</td><td>{{resultadoPorUrl.descripcion}}</td>

      </div>

  </div>
</div>
