
<div class="formulario">
  <div>
      <label for="">Url </label>
      <input type="text" [(ngModel)]="url"> <!-- ngModel para recoger datos de la vista al Controlador. -->
      <br>
      <br>
      <input type="button" value="Buscar" (click)="buscarPorUrl()">
      <br>
      <br>
      <br>
      <table border="1" *ngIf="resultadosPorUrl">
        <tr><th>Url</th><th>Tematica</th><th>Descripcion</th></tr>
        <tr *ngFor="let r resultadosPorUrl">
          <td><a href="{{r.url}}">{{r.url}}</a></td><td>{{r.tematica}}</td><td>{{r.descripcion}}</td>
        </tr>
      </table>

  </div>
</div>
