<h3>Registro</h3>
<form>
  <label for="new-usuario">Usuario:</label>
  <input type="text" id="new-usuario" name="new-usuario" required>
  <label for="new-password">Password:</label>
  <input type="password" id="new-password" name="new-password" required>
  <label for="direccion">Dirección:</label>
  <input type="text" id="direccion" name="direccion" required>
  <label for="dni">DNI:</label>
  <input type="text" id="dni" name="dni" required>
  <label for="tarjeta">Tarjeta:</label>
  <input type="text" id="tarjeta" name="tarjeta" required>
  <button type="submit">Registrar</button>
</form>
